* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: normal;
  font-style: normal;
  src: url('../../../resources/fonts/OpenSans-SemiBold.ttf');
}

h2 {
  font-family: OpenSans-SemiBold;
  color: white;
  font-size: 2vw;
  min-width: 10vw;
  padding-top: 1.5vw;
}

.crud-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#option-buttons {
  display: flex;
}
